[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
social-auth-app-django = "*"
pillow = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
django-developer-panel = "*"
celery = "*"
requests = "*"
social-auth-core = "*"
djangorestframework = "*"
django-cors-headers = "*"
docutils = "*"
django-service-objects = "*"
xmltodict = "*"
progress = "*"

[dev-packages]

[requires]
python_version = "3.10"
