
<table>
  <thead>
    <td>ID</td>
    <td>Title</td>
    <td>IMG</td>
  </thead>
  {% for game in gamelist %}
    <tr>
      <td>{{game.appid}}</td>
      <td>{{game.name}}</td>
      <td><img src="{{game.img_icon}}" alt=""></td>
      <td><img src="{{game.img_logo}}" alt=""></td>
      <td><img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_icon_url}}.jpg" alt=""></td>
      <td><img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_logo_url}}.jpg" alt=""></td>
    </tr>
  {% endfor %}
</table>

<pre>
  <code>
    {{ gamelist }}
  </code>
</pre>
