{% extends 'base.html' %}
{% load dev_tags %}
{% load static %}
{% block content %}

    <div class="hero is-primary">
        <div class="hero-body">
            <h1 class="title has-text-centered">{{ steam_user.id }} {{ steam_user.personaname }} Friends</h1>
            <h1 class="subtitle has-text-centered">{{ steam_user.steamid }}</h1>
        </div>
    </div>

    <div class="section">
        <h1 class="title">Network Visualization</h1>
        <div class="box">
            <div id="demo-canvas" style="height: 720px;"></div>
        </div>
    </div>

    <div class="section">
        <pre><code>{{ users }}</code></pre>
    </div>
    <div class="section">
        <pre><code>{{ users_list }}</code></pre>
    </div>
    <div class="section">
        <pre><code>{{ friendships }}</code></pre>
    </div>
    <div class="section">
        <pre><code>{{ friendships_list }}</code></pre>
    </div>
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://d3js.org/d3.v3.js"></script>
    <script>
        // JavaScript function to get cookie by name; retrieved from https://docs.djangoproject.com/en/3.1/ref/csrf/
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <script src="{% static 'steambroapp/jsnetworkx.js' %}"></script>
    {{ users_list | json_script:"users" }}
    {{ friendships_list | json_script:"friendships" }}
    <script>
        
        var users = JSON.parse(document.getElementById('users').textContent);
        console.log('users')
        console.log(users)
        
        var friendships = JSON.parse(document.getElementById('friendships').textContent);
        console.log('friendships')
        console.log(friendships)

        var G = new jsnx.Graph();

        console.log('Adding Nodes')
        for (user of users) {
            console.log('user');
            console.log(user);
            console.log(user.id);
            G.addNode(user.id, user);
        }
        console.log('Finished adding nodes');
        
        console.log('Adding Edges')
        for (fs of friendships){
            console.log('fs');
            console.log(fs);
            G.addEdge(fs.from, fs.to);
        }
        console.log('Finished adding edges');

        
        /*
        console.log('find cliques');
        var cliques = jsnx.findCliques(G);
        console.log('cliques found');
        console.log(cliques);
        
        var color = d3.scale.category20();

        for (clq of cliques){
            console.log(clq);
            if (clq.length == 2) {
                console.log('adding color');
                G.addNodesFrom(clq, {color: color(clq.toString())});
            } else if (clq.length > 2) {
                console.log('adding color');
                G.addNodesFrom(clq, {color: color(clq.toString())});
            } else {
                console.log('NOT adding color');
            }
        }
        */

        console.log('Drawing Canvas');
        jsnx.draw(G, {
            element: '#demo-canvas',
            stickyDrag: true,
            withLabels: true,
            weighted: false,
            layoutAttr: {
                charge: -120,
                linkDistance: 20,
                size: [1900, 640]
            },
            nodeAttr: {
                r: function(d) {
                // `d` has the properties `node`, `data` and `G`
                return G.degree(d.node)/2+20;
                },
            },
            // labels: 'personaname',
            labels: 'label',
            nodeStyle: {
                stroke: 'none',
                fill: function(d) {
                    return d.data.color || '#CCC'
                }
            },
            edgeStyle: {
                fill: '#999'
            },
        });
    </script>

{% endblock content %}
