
{% extends 'base.html' %}
{% block content %}

<section class="hero is-dark">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
          <div class="columns is-vcentered">
              <div class="column is-2">
                <img src="{{object.avatarfull}}" alt="" class="img">
              </div>
              <div class="column is-8">
                  <p class="title">
                    {{ steamuser.personaname }}
                  </p>
                  <br>
                  <p class="subtitle">
                    <a href="{{ steamuser.profileurl }}">{{ steamuser.profileurl }}</a>
                  </p>
              </div>
          </div>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a href="{% url 'steambro:steamuser-friends-network' pk=steamuser.pk %}">Friends Network</a></li>
            <li><a href="{% url 'steambro:steamuser-friends-network' pk=steamuser.pk %}?include_self=1">Friends Network include self</a></li>
            <li><a href="{% url 'steambro:steamuser-gameicons' pk=steamuser.pk %}">Game Wall</a></li>
            
          </ul>
        </div>
      </nav>
    </div>
  </section>

<section class="section">
    <div class="container">

        <table class="table">
            <tr>
                <th>Steam ID</th>
                <td>{{object.steamid}}</td>
            </tr>
            <tr>
                <th>Persona Name</th>
                <td>{{object.personaname}}</td>
            </tr>
            <tr>
                <th>profileurl profileurl</th>
                <td>{{object.profileurl}}</td>
            </tr>
            <tr>
                <th>avatarhash</th>
                <td>{{object.avatarhash}}</td>
            </tr>
            <tr>
                <th>avatar</th>
                <td>
                    {{object.avatar}}
                    <img src="{{object.avatar}}" alt="" class="img">
                </td>
            </tr>
            <tr>
                <th>avatarmedium</th>
                <td>
                    {{object.avatarmedium}}
                    <img src="{{object.avatarmedium}}" alt="" class="img">
                </td>
            </tr>
            <tr>
                <th>avatarfull</th>
                <td>
                    {{object.avatarfull}}
                    <img src="{{object.avatarfull}}" alt="" class="img">
                </td>
            </tr>
            <tr>
                <th>personastate</th>
                <td>{{object.personastate}}</td>
            </tr>
            <tr>
                <th>communityvisibilitystate</th>
                <td>{{object.communityvisibilitystate}}</td>
            </tr>
            <tr>
                <th>realname</th>
                <td>{{object.realname}}</td>
            </tr>
            <tr>
                <th>primaryclanid</th>
                <td>{{object.primaryclanid}}</td>
            </tr>
        </table>
    </div>
    </section>
    
<section class="section">
    <h1 class="title">Friend Grid</h1>

</section>

{% comment %} Friends table {% endcomment %}
<section class="section">
    <div class="container">
    <h1 class="title">Friends</h1>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Avatar</td>
            <td>SteamID</td>
            <td>PersonaName</td>
            <td>Steam Profile URL</td>
            <td>Actions</td>
        </tr>
        {% for friend in object.friendships.all %}
        <tr>
            <td>{{friend.id}}</td>
            <td><img src="{{friend.avatar}}" alt=""></td>
            <td>{{friend.steamid}}</td>
            <td>{{friend.personaname}}</td>
            <td>{{friend.profileurl}}</td>
            <td>
                <a href="{% url 'steambro:steamuser-detail' friend.pk %}">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</section>

<section class="section">
    <div class="container">

    <h1 class="title">Friendships</h1>
    <table class="table">
        {% for friend in object.get_friendships.all %}
        <tr>
            <td>{{friend}}</td>
            {% comment %} <td>{{friend.personaname}}</td> {% endcomment %}
            {% comment %} <td>{{friend.personaname}}</td> {% endcomment %}
            <td>
                {% comment %} <a href="{% url 'steambro:steamuser-detail' friend.pk %}"> {% endcomment %}
                    {% comment %} View {% endcomment %}
                {% comment %} </a> {% endcomment %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</section>



{% endblock content %}