{% extends 'base.html' %}
{% load dev_tags %}
{% block content %}
    <section class="section">
        <div class="container">
            <table class="table">
                <tr>
                    <td>ID</td>
                    <td>{{ object.appid }}</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Icon</td>
                    <td>
                        <ul>
                            <li><img src="{{ object.icon }}" alt=""></li>
                            <li>
                                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ object.appid }}/{{ object.icon_url }}.jpg"
                                     alt="">
                            </li>
                            <li>
                                <a href="http://media.steampowered.com/steamcommunity/public/images/apps/{{ object.appid }}/{{ object.icon_url }}.jpg">http://media.steampowered.com/steamcommunity/public/images/apps/{{ object.appid }}/{{ object.icon_url }}.jpg</a>

                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Logo</td>
                    <td>
                        <ul>
                            <li><img src="{{ object.logo }}" alt=""></li>
                            <li><img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ object.appid }}/{{ object.logo_url }}.jpg"
                                alt=""></li>
                            <li><a href="http://media.steampowered.com/steamcommunity/public/images/apps/{{ object.appid }}/{{ object.logo_url }}.jpg">http://media.steampowered.com/steamcommunity/public/images/apps/{{ object.appid }}/{{ object.logo_url }}.jpg</li>
                        </ul>
                    
                    
                        
                        </td>
                    </tr>
                    <tr>
                        <td>About the game</td>
                        <td>{{ object.about_the_game }}</td>
                    </tr>
                    <tr>
                        <td>Short Description</td>
                        <td>{{ object.short_description }}</td>
                    </tr>
                    <tr>
                        <td>Detailed Description</td>
                        <td>{{ object.detailed_description }}</td>
                    </tr>
                    <tr>
                        <td>Created At</td>
                        <td>{{ object.created_at }}</td>
                    </tr>
                    <tr>
                        <td>Updated At</td>
                        <td>{{ object.updated_at }}</td>
                    </tr>
                </tr>
            </table>
        </div>
    </section>
{% endblock content %}
