{% extends 'base.html' %}
{% load dev_tags %}
{% load steambro_tags %}
{% block content %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <div class="hero is-primary">
        <div class="hero-body">
            <h1 class="title has-text-centered">{{ user.steamuser.name }} Wall</h1>
        </div>
    </div>
    
    <section class="section has-text-centered">
        <h1 class="title">Header with Placeholders and thumbs</h1>
            {% for gg in game_group_list %}
            <div class="game-container" style="position: relative; display: inline-block;">
                <div class="category-icon" style="position: absolute; z-index: 2;">
                    {{ gg.group.name }}
                </div>
                <div class="category-icon" style="position: absolute; z-index: 2; right: 2px; bottom: 6px;">
                    {% if gg.group.name == 'YES' %}
                    <span class="icon is-large has-text-success" style="text-shadow: 5px 5px 5px black;">
                        <i class="mdi mdi-48px mdi-thumb-up"></i>
                    </span>
                    {% elif gg.group.name == 'NO' %}
                    <span class="icon is-large has-text-danger" style="text-shadow: 5px 5px 5px black;">
                        <i class="mdi mdi-48px mdi-thumb-down"></i>
                    </span>
                    {% endif %}
                </div>
                <a href="{% url 'steambro:steamgame-detail' pk=gg.game.id %}">
                    <img src="{{ gg.game.header }}" alt="{{gg.game.name}} header" class="img" style="width:calc(460px*0.5); height:calc(215px*0.5);" onerror="this.src='https://placeholder.pics/svg/460x215/DEDEDE/555555/{{gg.game.name}}';">
                </a>
            </div>
            {% endfor %}
    </section>

{% endblock content %}
