
{% extends 'base.html' %}
{% block content %}

<section class="section">
    <div class="container">

{% include '_pagination.html' %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>SteamID</th>
        <th>PersonaName</th>
        <th>Profile URL</th>
        <th>Real Name</th>
        <th>Friends</th>
        <th>Actions</th>
    </tr>
    {% for object in page_obj %}
    <tr>
        <td>{{object.id}}</td>
        <td>{{object.steamid}}</td>
        <td>{{object.personaname}}</td>
        <td>{{object.profileurl}}</td>
        <td>{{object.realname|default:""}}</td>
        <td>{{object.friends}}</td>
        <td>
            <a href="{% url 'steambro:steamuser-detail' object.pk %}">View</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include '_pagination.html' %}
</div>
</section>
{% endblock content %}