{% extends 'base.html' %}
{% load dev_tags %}
{% load static %}
{% block content %}
    <div class="hero is-primary">
        <div class="hero-body">
            <h1 class="title has-text-centered">{{ steam_user.id }} {{ steam_user.personaname }} Friends</h1>
            <h1 class="subtitle has-text-centered">{{ steam_user.steamid }}</h1>
        </div>
    </div>
    <div class="section">
        <h1 class="title">Network Visualization</h1>
        <div class="box">
            {% comment %}
            Canvas 
            
            {% endcomment %}
            <div id="graph-canvas" style="height: 720px;"></div>
            {% comment %}
            Search

            {% endcomment %}
            <div id="search">
                <input type="search"
                       id="search-input"
                       list="suggestions"
                       placeholder="Try searching for a node..."/>
                <datalist id="suggestions"></datalist>
            </div>
            {% comment %}
            Buttons

            {% endcomment %}
            <div id="buttons">
                {% comment %} Random {% endcomment %}
                <button id="random" class="button">
                    <span class="icon">
                        <img src="{% static 'steambroapp/noun-dice-4315661.svg' %}" />
                    </span>
                    <span>random</span>
                </button>
                {% comment %} Force Atlas 2 {% endcomment %}
                <button id="forceatlas2" class="button">
                    <span class="icon">
                        <img id="forceatlas2-start-label"
                             class="img"
                             src="{% static 'steambroapp/noun-atlas-3863916.svg' %}"/>
                        <img id="forceatlas2-stop-label"
                             class="img"
                             style="display: none"
                             src="{% static 'steambroapp/noun-atlas-3863916.svg' %}"/>
                    </span>
                    <span>Force Atlas 2</span>
                </button>
                {% comment %} Circular {% endcomment %}
                <button id="circular" class="button">
                    <span class="icon">
                        <img src="{% static 'steambroapp/noun-circle-200124.svg' %}" />
                    </span>
                    <span>circular</span>
                </button>
                {% comment %} Circlepack Community {% endcomment %}
                <button id="circlepack" class="button">
                    <span class="icon">
                        <img src="{% static 'steambroapp/noun-circles-3459120.svg' %}" />
                    </span>
                    <span>circlepack Community</span>
                </button>
                {% comment %} Circlepack Primary Clan {% endcomment %}
                <button id="circlepackPrimaryClan" class="button">
                    <span class="icon">
                        <img src="{% static 'steambroapp/noun-circles-3459120.svg' %}" />
                    </span>
                    <span>circlepack PrimaryClan</span>
                </button>
                {% comment %} Save as PNG {% endcomment %}
                <button type="button" id="save-as-png">Save as PNG</button>
                {% comment %} Labels Threshold {% endcomment %}
                <div class="input">
                    <label for="labels-threshold">Labels threshold</label>
                    <input id="labels-threshold" type="range" min="0" max="15" step="0.5" />
                </div>
            </div>
        </div>
        <div>
            <h2>Palette</h2>
            <div id="communityColorPalette"></div>
        </div>
    </div>
    <div class="section">
        <pre><code>{{ friends }}</code></pre>
    </div>
    <div class="section">
        <pre><code>{{ friendships }}</code></pre>
    </div>
    <section class="section">
        <table id="nodeTable" class="table">
            <thead>
                <th>ID</th>
                <th>Label</th>
                <th>Color</th>
                <th>Size</th>
                <th>Community</th>
                <th>PrimaryClan</th>
            </thead>
        </table>
    </section>
    <section class="section">
        <p>
            Random by Nithinan Tatah from NounProject.com
        </p>
        <p>
            Atlas by Andrejs Kirma from NounProject.com
        </p>
        <p>
            Circles by Wenjie from NounProject.com
        </p>
        <p>
            Circle by Magicon from NounProject.com
        </p>
        <p>
            Dice by Alex Burte from NounProject.com
        </p>
    </section>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'steambroapp/graphology.min.js' %}"></script>
    <script src="{% static 'steambroapp/graphology-library.min.js' %}"></script>
    <script src="{% static 'steambroapp/FileSaver.js' %}"></script>
    <script src="{% static 'steambroapp/sigma.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.4.4/d3.min.js" integrity="sha512-hnFpvCiJ8Fr1lYLqcw6wLgFUOEZ89kWCkO+cEekwcWPIPKyknKV1eZmSSG3UxXfsSuf+z/SgmiYB1zFOg3l2UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'steambroapp/getCookie.js' %}"></script>
    {{ friends | json_script:"steam_users" }}
    {{ friendships | json_script:"steam_users_friendships" }}
    <script src="{% static 'steambroapp/graphSteamUserFriendships.js' %}"></script>
    <script src="{% static 'steambroapp/graphSaveToPng.js' %}"></script>
    <script src="{% static 'steambroapp/graphSearch.js' %}"></script>
{% endblock content %}
