
{% load dev_tags %}

<table class="table is-striped">
    <thead>
      <td>ID</td>
      <td>Icon</td>
      <td>Logo</td>
      <td>Title</td>
      <td>Short Description</td>
      {% comment %} <td>About the game</td> {% endcomment %}
      {% comment %} <td>Detailed Description</td> {% endcomment %}
      <td>Created At</td>
      <td>Updated At</td>
      <td></td>
    </thead>
    {% for game in steamgame_list %}
      <tr style="background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.9)), url({{game.library_hero}});">
        <td>{{game.appid}}</td>
        <td>
          <figure class="image">
            <img class="img" src="{{ game.get_icon_url }}" alt="">
          </figure>
        </td>
        <td>
          <img src="{{ game.header }}" alt="">
          </td>
          <td>{{game.name}}</td>
          <td>{{ game.short_description|default:"" }}</td>
          {% comment %} <td>{{ game.about_the_game|default:"" }}</td> {% endcomment %}
          {% comment %} <td>{{ game.detailed_description|default:"" }}</td> {% endcomment %}
          <td>{{ game.created_at }}</td>
          <td>{{ game.updated_at }}</td>
        <td><a href="{% url 'steambro:steamgame-detail' pk=game.pk %}">View</a></td>
      </tr>
    {% endfor %}
  </table>