
{% load dev_tags %}

<table class="table is-striped">
    <thead>
      <td>ID</td>
      <td>Icon</td>
      <td>Logo</td>
      <td>Title</td>
      <td>About the game</td>
      <td>Short Description</td>
      <td>Detailed Description</td>
      <td>Created At</td>
      <td>Updated At</td>
      <td></td>
    </thead>
    {% for game in steamgame_list %}
      <tr>
        <td>{{game.appid}}</td>
        <td>
          <img src="{{ game.icon }}" alt="">
          <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.icon_url}}.jpg" alt="">
          {% comment %} <a href="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.icon_url}}.jpg">http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.icon_url}}.jpg</a> {% endcomment %}
        </td>
        <td>
          <img src="{{ game.logo }}" alt="">
          <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.logo_url}}.jpg" alt="">
          {% comment %} <a href="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.logo_url}}.jpg">http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.logo_url}}.jpg {% endcomment %}
          </td>
          <td>{{game.name}}</td>
          <td>{{ game.about_the_game|default:"" }}</td>
          <td>{{ game.short_description|default:"" }}</td>
          <td>{{ game.detailed_description|default:"" }}</td>
          <td>{{ game.created_at }}</td>
          <td>{{ game.updated_at }}</td>
        <td><a href="{% url 'steambro:steamgame-detail' pk=game.pk %}">View</a></td>
      </tr>
    {% endfor %}
  </table>