{% extends 'base.html' %}
{% load dev_tags %}
{% block content %}


    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    Tinder for your game library
                </p>
                <p class="subtitle">
                    Hero subtitle
                </p>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            
            <h1 class="title">Are you ever gonna play this game again?</h1>
            
            <div class="columns is-centered">
                <div class="column is-half">        
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img class="img" src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.logo_url}}.jpg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <h1 class="title">{{ game.name }}</h1>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="">#</a>
                            </div>
                            <div class="card-footer-item">
                                <a href="{% url 'steambro:steamgame-detail' pk=game.pk %}" class="">View</a>
                            </div>
                            <div class="card-footer-item">
                                <a href="#" class="">#</a>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <button class="button is-large is-fullwidth is-danger" id="button_no" value="{{no_group.pk}}"><- NO</button>
                </div>
                <div class="column">
                    <button class="button is-large is-fullwidth" id="button_skip" value="">SKIP</button>
                </div>
                <div class="column">
                    <button class="button is-large is-fullwidth is-success" id="button_yes" value="{{yes_group.pk}}">YES -></button>
                </div>
            </div>

            <p>This page has keyboard shortcuts!</p>
            <p><code>A</code> or <code>ArrowLeft</code> = NO</p>
            <p><code>D</code> or <code>ArrowRight</code> = YES</p>
            <p><code>W</code> / <code>S</code> or <code>ArrowUp</code> / <code>ArrowDown</code> = SKIP</p>
        </div>
    </section>

<script>
        // JavaScript function to get cookie by name; retrieved from https://docs.djangoproject.com/en/3.1/ref/csrf/
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script>
    {% comment %} Yes/No Script {% endcomment %}
    $(document).ready(function(){
        

        document.addEventListener('keydown', logKey);

        function logKey(e) {
            console.log(` ${e.code}`);
            console.log(e);

            if (e.code == "KeyA" || e.code == "ArrowLeft"){
                console.log('Post to NO');
                sendPost({{no_group.id}});
            }

            if (e.code == "KeyD" || e.code == "ArrowRight"){
                console.log('Post to Yes');
                sendPost({{yes_group.id}});
            }

            if (e.code == "KeyW" || e.code == "KeyS" || e.code == "ArrowUp" || e.code == "ArrowDown"){
                console.log('Reload');
                location.reload(true);
            }
        }

        
        $("#button_yes").on("click", function(e){
            e.preventDefault();
            console.log("clicked "+$(this).innerHTML+" button");
            sendPost($(this).val());
        });

        $("#button_no").on("click", function(e){
            e.preventDefault();
            console.log("clicked "+$(this).innerHTML+" button");
            sendPost($(this).val());
        });

        function sendPost(group){
            $.ajax({
                type: "POST",
                url: 'http://localhost:8000/api/user-game-group/',
                data: { 
                    user: {{ request.user.id }}, 
                    game: {{ game.id }}, 
                    group: group
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                },
                mode: "same-origin",
                success: function(result){
                    console.log(result);
                    location.reload(true);
                },
                error: function(result){
                    console.log(result);
                    alert('error');
                }
            });
        }

        $("#button_skip").on("click", function(e){
            e.preventDefault();
            console.log("clicked "+$(this).innerHTML+" button");
            location.reload(true);
        });
    })
</script>

{% endblock content %}
